<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag(app_stylesheets? ? :app : :all, data: { custom_attribute: true }) %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
